.post{
  padding:10px;
}

.post-area{
  display: grid;
  grid-template-columns: 50px 1fr;
}

.post-text{
  padding:10px;
}

.post-input{
  width: 100%;
  height: auto;
  border:none;
  background: transparent;
  resize: none;
  outline: none;
  color:#FFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

.post-input::placeholder{
  font-size:1.4em;
}

.post-options{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}